@use "global" as *;

.l-page-about {
  margin-top: rem(0);

  @include mq("md") {}
}

.about {
  @include mq("md") {
    position: relative;
  }
}

.about::before {
  background-image: url(/assets/images/top/coral-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(50);
  position: absolute;

  @include mq("md") {
    height: rem(181);
    right: rem(84);
    top: rem(679);
    width: rem(194);
    z-index: 10000;
    right: calc(50% - min(48.5vw, 40rem));
  }
}

.about__bg-img {
  display: none;

  @include mq("md") {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: -13%;
    right: 7%;
    width: rem(194);
    height: auto;
    z-index: 3;
  }
}

.about__bg-img img {
  @include mq("md") {}
}

.about__inner {
  position: relative;
  max-width: rem(600);
  margin: 0 auto;

  @include mq("md") {
    max-width: rem(1300);
    position: relative;
  }
}

.about__title-inner {

  @include mq("md") {}
}

.about__main {
  margin-top: rem(0);

  @include mq("md") {
    width: 100%;
    max-width: rem(1080);
    margin: 0 auto;
    margin-top: rem(120);
  }
}




.gallery__block {
  margin-top: rem(40);
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: (1, 1fr);
  gap: rem(8) rem(8);
  @include mq(md) {
    grid-template-columns: repeat(11, 1fr);
    margin-top: rem(74);
  }
}

.gallery__image {
  position: relative;
}

.gallery__image:nth-child(6n + 1) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-row: span 2;
    grid-column: span 5;
  }
}
.gallery__image:nth-child(6n + 2),
.gallery__image:nth-child(6n + 3) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-column: span 6;
  }
}
.gallery__image:nth-child(6n + 4) {
  grid-row: span 1;
  grid-column: span 1;

  @include mq(md) {
    grid-column: span 6;
  }
}
.gallery__image:nth-child(6n + 5) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-row: span 2;
    grid-column: span 5;
  }
}
.gallery__image:nth-child(6n + 6) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-column: span 6;
  }
}

.gallery__image:nth-child(6n + 2)::before,
.gallery__image:nth-child(6n + 3)::before,
.gallery__image:nth-child(6n + 4)::before,
.gallery__image:nth-child(6n + 6)::before {
  content: "";
  display: block;
  padding-top: calc((369 / 580) * 100%);
}

.gallery__image:nth-child(6n + 1)::before,
.gallery__image:nth-child(6n + 5)::before {
  content: "";
  display: block;
  padding-top: calc((746 / 492) * 100%);
}


.gallery__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

