@use "global" as *;


.blog {
  
}

.blog__bg {
  display: none;

  @include mq("md") {
    position: absolute;
    height: 60.168%;
    top: 0;
    left: 0;
    width: 100%;
    display: initial
  }

}

.blog__bg img {
  display: none;

  @include mq("md") {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: initial
  }
}

.blog::before {
  background-image: url(/assets/images/top/fish3.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(50);
  position: absolute;

  @include mq("md") {
    height: rem(185);
    left: rem(105);
    top: rem(30);
    width: rem(371);
    z-index: 100;
    left: calc(50% - min(48.5vw, 38.75rem));
  }
}

.blog__bg-img {
  display: none;

  @include mq("md") {
    display: block;
    position: absolute;
    z-index: 10;
    width: rem(377);
    top: rem(20);
    left: rem(100);
  }
}


.blog__title-inner {
  margin: 0 auto;

  @include mq("md") {
    margin: 0 auto;
  }
}

.blog__items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: rem(333);
  gap: rem(40);
  justify-content: center;
  margin-top: rem(30);

  @include mq("md") {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(40);
    position: relative;
    margin-top: rem(80);
  }
}

.blog__item {
 
}

.blog__item+.blog__item {
  margin-top: rem(10);

  @include mq("md") {
    margin-top: rem(0);
  }
}

.blog__button-inner {
  text-align: center;
  margin-top: rem(50);

  @include mq("md") {
    margin-top: rem(80);
  }
}