@use "global" as *;


.campaign {}

.campaign__inner {
  position: relative;

  @include mq("md") {
    max-width: rem(1080);
  }
}

.campaign__title-inner {
  margin: 0 auto;
}

.campaign__title {}

.campaign__item {
  max-width: rem(280);

  @include mq("md") {
    padding-bottom: 0;
    max-width: rem(520);

  }

}


.campaign__button-inner {
  text-align: center;
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(83);
    text-align: center;
  }
}


.campaign__cards {
  display: flex;

  @include mq("md") {

    display: flex;
  }
}