@use "global" as *;


.page-contact {
  max-width: rem(500);
  margin: 0 auto;
  margin-top: rem(28);

  @include mq("md") {
    max-width: rem(700);
  }
}

.page-contact__inner {
  position: relative;

  @include mq("md") {}
}

.page-contact__bg-img {
  width: rem(120);
  display: flex;
  left: calc(50% - min(48.5vw, 38.75rem));
  position: absolute;
  top: -18%;

  @include mq("md") {

    width: rem(302);
  }
}

.page-contact__button-inner {
  text-align: center;
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(30);
    text-align: center;
  }
}

