@use "global" as *;

.page-price {}

.page-price__inner.inner {
  max-width: rem(400);
  margin: 0 auto;
  position: relative;

  @include mq("md") {

    max-width: rem(750);
  }
}

.page-price__main {
  max-width: rem(345);
  border-right: rem(1) solid $green;
  border-left: rem(1) solid $green;

  @include mq("md") {
    display: flex;
    max-width: rem(700);
  }
}

.page-price__main:nth-child(n+2) {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(78);
  }
}
.page-price__main:nth-child(n+3) {
  margin-top: rem(42);

  @include mq("md") {
    margin-top: rem(75);
  }
}
.page-price__main:nth-child(n+4) {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(77);
  }
}

.page-price__image {
  background-color: $green;
  max-width: rem(345);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: rem(6) 0;
  width: 100%;

  @include mq("md") {
    max-width: rem(200);
    flex-direction: column;
    text-align: center;

  }

}

.page-price__image img {
  width: rem(25);

  @include mq("md") {
    width: rem(64);
    margin: 0 auto;


  }
}

.page-price__text {
  color: $white;
  font-size: rem(16);
}


.page-price__table {
  border-bottom: rem(0) solid $green;

  @include mq("md") {
    border-bottom: rem(1) solid $green;
  }

  
}

.page-price__tr {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include mq("md") {}
}

.page-price__th {
  border-bottom: rem(1) solid $green;
  border-right: rem(1) solid $green;
  padding: rem(10) rem(6) rem(7) rem(6);
  text-align: center;
  font-size: rem(16);
  width: 70%;

  @include mq("md") {
    border-top:  rem(1) solid $green;
    border-bottom: rem(0) solid $green;
    padding: rem(23) rem(10) rem(20) rem(24);
    width: rem(338);
    text-align: left;
    padding-left: rem(15);
    line-height: 1;
  }

}
.page-price__th--position1 {
  padding: rem(0)rem(10) rem(9) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(0) solid $green;
  }
}
.page-price__th--position2 {
  padding: rem(20)rem(10) rem(10) rem(10);
  border-bottom: rem(1) solid $green;
  @include mq("md") {
    border-bottom: rem(1) solid $green;
  }
}

.page-price__th--position3 {
  padding: rem(5)rem(10) rem(11) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(0) solid $green;
  }
}

.page-price__th--position4 {
  padding: rem(0) rem(10) rem(11) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(0) solid $green;
  }
}

.page-price__th--position5 {
  padding: rem(0)rem(10) rem(10) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(0) solid $green;
  }
}
.page-price__th--position6 {
  padding: rem(0)rem(10) rem(10) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(1) solid $green;
  }
}
.page-price__th--position7 {
  padding: rem(0)rem(10) rem(15) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(0) solid $green;
  }
}
.page-price__th--position8 {
  padding: rem(0)rem(10) rem(10) rem(10);
  border-bottom: 0 solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: 0 solid $green;
  }
}
.page-price__th--position9 {
  padding: rem(0)rem(10) rem(10) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: 0 solid $green;
  }
}
.page-price__th--position10 {
  padding: rem(0)rem(10) rem(10) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(1) solid $green;
  }
}
.page-price__th--position11 {
  padding: rem(8)rem(10) rem(8) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: 0 solid $green;
  }
}
.page-price__th--position12 {
  padding: rem(0)rem(10) rem(10) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: 0 solid $green;
  }
}

.page-price__th--position13 {
  padding: rem(0)rem(10) rem(10) rem(10);
  border-bottom: rem(1) solid $green;
  height: 0%;
  @include mq("md") {
    border-bottom: rem(1) solid $green;
  }
}

.page-price__td {
text-align: center;
  border-bottom: rem(1) solid $green;
  width: 30%;
  padding: rem(17) rem(30);

  @include mq("md") {
    width: rem(162);
    padding: rem(17) rem(17);
    text-align: right;
    border-top: rem(1) solid $green;
    border-bottom: 0 solid $green;

  }
}


.page-price__td--position {

  @include mq("md") {
    border-bottom: rem(1) solid $green;
  }
}