@use "global" as *;


.page-404 {
position: relative;
padding-bottom: rem(40);
@include mq("md") {
  padding-top: rem(65);
  padding-bottom: rem(120);
}
}

.page-404__inner {
max-width: rem(600);
margin: 0 auto;
}

.page-404::before {
  background-image: url(../../assets/images/404/page-ocean-sea-icon.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(50);
  position: absolute;
  height: rem(345);
  left: 3%;
  top: rem(-47);
  width: rem(345);
  z-index: 700;

  @include mq("md") {
    height: rem(698);
    left: 13%;
    top: -24%;
    width: rem(698);
    z-index: 800;
   
  }
}

.page-404__title {
font-size: rem(80);
font-weight: $regular;
font-family: $second-font-family;
color: $white;
margin: 0 auto;
letter-spacing: 0.5em;
width: rem(220);
line-height: 1.6;
@include mq("md") {
  font-size: rem(160);
  width: rem(440);
  
}
}

.page-404__text {
  font-size: rem(16);
  font-weight: $regular;
  font-family: $second-font-family;
  color: $white;
  text-align: center;
}

.page-404__button-inner {
  margin-top: rem(37);
  text-align: center;

  @include mq("md") {
    margin-top: rem(75);
  }
}

.price::before {
  background-image: url(../../assets/images/top/fish2.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(50);
  position: absolute;

  @include mq("md") {
      height: rem(300);
      left: rem(100);
      top: rem(928);
      width: rem(439);
      z-index: 10000;
      left: calc(50% - min(48.5vw, 38.75rem));
  }
}