@use "global" as *;


.page-campaign__inner  {
  position: relative;
  @include mq("md") {

  }
}


.page-campaign__pagination li {
  display: inline;
}

.page-campaign__items {

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(50);
    justify-items: center;
    align-items: center;

  }
}



.page-campaign__item {

}

.page-campaign__item+.page-campaign__item {
margin-top: rem(33);

}
.page-campaign__button-inner {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.page-campaign__main {
  margin: 0 auto;
  padding: 0 rem(33);
  margin-top: rem(40);

  @include mq("md") {
    padding: 0 rem(0);

  }
}


.page-campaign__categories {

}

.page-campaign__category {
  
}
