@use "global" as *;


.page-blog {
  display: flex;

}

.page-blog__inner {
  display: flex;
  position: relative;
}

.page-blog__content {
  width: 100%;
  display: block;


  @include mq("md") {
    display: flex;
    gap: rem(70);
    
  }
}

.page-blog__main {
  max-width: rem(400);
  width: 100%;
  margin: 0 auto;

  @include mq("md") {
    max-width: rem(1040);
    width: 73%;
  }
}

.page-blog__list {

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(78) rem(47);
    justify-items: center;

  }
}

.page-blog__sub {
  max-width: rem(400);
  width: 100%;
  margin: 0 auto;
  margin-top: rem(0);

  @include mq("md") {
    width: 27%;
  

  }
}

.page-blog__sub-cards {}

.page-blog__sub-card {
  display: flex;
  box-shadow: rem(2) rem(2) rem(4) gray;
  padding: rem(16);
  padding: rem(19) rem(20) rem(16) rem(15);
  width: 100%;
  margin-top: rem(24);

  @include mq("md") {
    display: flex;
    box-shadow: rem(2) rem(2) rem(4) gray;
    padding: rem(16);
    width: 100%;
    margin-top: rem(24);
  }
}

.page-blog__sub-card+.page-blog__sub-card {
  margin-top: rem(30);
}

.page-blog__sub-card-text {
  margin-left: rem(16);
}

.page-blog__sub-card-image {
  width: rem(121);
}

.page-blog__sub-card-image img {}

.page-blog__sub-card-day {
  font-size: rem(12);
  font-family: $second-font-family;
  line-height: 1.5;
  @include mq("md") {
    font-size: rem(12);
    line-height: 1.5;
    letter-spacing: -0.13em;
  }
}

.page-blog__sub-card-title {
  font-size: rem(16);
  font-family: $second-font-family;
  font-weight: 500;
}

.page-blog__sub-reviews {
  display: block;
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(90);
  }
}

.page-blog__sub-reviews--position {
  margin-top: rem(100);
}

.page-blog__sub-reviews-card {}

.page-blog__sub-reviews-image {
  margin-top: rem(24);
}

.page-blog__sub-reviews-text {}

.page-blog__sub-reviews-age {
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $normal;
  margin-top: rem(14);
  line-height: 1.5;

  @include mq("md") {

  }

}

.page-blog__sub-reviews-title {
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $normal;
  margin-top: rem(7);

  @include mq("md") {

  }
}

.page-blog__sub-reviews-button-inner {
  text-align: center;
  margin-top: rem(40);

}

.page-blog__sub-campaign {
  margin-top: rem(80);
  margin: 0 auto;
  width: rem(300);

  @include mq("md") {
    width: 100%;
  }
}

.page-blog__sub-campaign {
  margin-top: rem(80);
  margin: 0 auto;
  width: rem(300);

  @include mq("md") {
    width: 100%;
  }
}

.page-blog__sub-campaign__items {
  margin: 0 auto;
  display: table;
  box-shadow: rem(5) rem(5) rem(10) rgba(0, 0, 0, 0.3);
  @include mq("md") {
    display: block;
  }
}

.page-blog__sub-campaign__item {
  max-width: rem(280);
  margin-top: rem(24);

  @include mq("md") {
    max-width: rem(333);
  }
}

.page-blog__sub-campaign__item+.page-blog__sub-campaign__item {
margin-top: rem(45);
  @include mq("md") {
    margin-top: rem(29);
  }
}

.title-name__textarchive {
  font-size: rem(24);
  font-family: $base-font-family;
  font-family: $regular;

}
.page-blog__sub-archive {
  margin-top: rem(24);

  @include mq("md") {
    font-size: rem(24);
    color: $green;
  }
}

.page-blog__sub-archive-items1 {

  @include mq("md") {}
}

.page-blog__sub-archive-items2 {

  @include mq("md") {}
}

.page-blog__sub-archive-item1 {

  @include mq("md") {}
}

.page-blog__sub-archive-item2 {

  @include mq("md") {}
}

.page-blog__sub-archive-item3 {
  display: flex;
  margin-left: rem(40);
}

.page-blog__sub-archive-item4 {
  display: flex;
}

.page-blog__sub-archive-item-image {
  width: rem(24);
  height: rem(24);
  margin-right: rem(10);
}


.page-blog__triangle-items {
  padding: 0;
  margin: 0;
}


.summary-items {
color: $green;
font-size: rem(24);
font-weight: $normal;
font-family: $base-font-family;
}

.summary-item {

}
summary::marker {
  color: $green;
  font-size: rem(34);
}

///テスト//
details {

  max-width: rem(300);
}
 
/* JavaScriptで開閉する要素（.details-content）には上下のpaddingを指定せずこちらに指定 */
details .details-content-wrapper {

}
 
details .details-content {
  overflow: hidden;  /* コンテンツがアニメーションで徐々に表示されるように */
}
 
details summary {
  display: block; /* 矢印アイコンを非表示に */
  cursor: pointer; /* カーソルの形状をポインターに */
  position: relative; /* 絶対配置する疑似要素のアイコンの基準に */
  padding: 0.5rem 0.5rem 0.5rem rem(36); /* padding-left にアイコンのスペースを確保 */
}
 
details summary::-webkit-details-marker {
  display: none; /* Safari で三角形のアイコンを非表示に */
}
 
/* 独自のアイコンを擬似要素で作成 */
details summary::before {
  border-bottom: rem(13) solid transparent;
  border-left: rem(22) solid $green;
  border-top: rem(11) solid transparent;
  bottom: 0;
  content: "";
  height: rem(11);
  left: rem(6);
  position: absolute;
  top: rem(15);
  transform: rotate(120deg);
  transition: transform 0.3s;
  width: 0;
}
 
details[open] summary {
 
}

