@use "global" as *;




//テスト
.page-faq__nav {
  margin: 50px auto 0;
  max-width: rem(700);
  width: 100%;
}

.page-faq__list:not(:first-child) {
  margin-top: 10px;
}

.page-faq__title {
  background-color: #408F95;
  border: solid 0.0625rem #fff;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: $regular;
  padding: 20px 11%;
  position: relative;
  text-align: center;
  transition-duration: 0.2s;
  z-index: 1;
  text-align: left;
}

.page-faq__title:before {
  position: absolute;
  content: '';
  top: 50%;
  right: 25px;
  height: 2px;
  width: 32px;
  background: $white;
  transform: rotate(90deg);
  transition: all .3s ease-in-out;
}

.page-faq__title:after {
  background: $white;
    content: "";
    height: 2px;
    position: absolute;
    right: 25px;
    top: 50%;
    transition: all 0.3s ease-in-out;
    width: 32px;
}

.page-faq__title.open:before {
  transform: rotate(180deg);
}

.page-faq__title.open:after {
  opacity: 0;
}

.page-faq__box {
  color: $black;
  background: #FFFFFF;
  border-left: 1px solid $green;
  border-right: 1px solid $green;
  border-bottom: 1px solid $green;
  border-top: 1px solid $green;
  display: none;
  padding: 20px 30px;
  margin-top: rem(16);
  margin-bottom: rem(40);
}