@use "global" as *;

.page-information {}

.page-information__inner {}

.sub-information {
	position: relative;
}

.sub-information_inner {
	max-width: rem(600);
	width: 100%;
	position: relative;
}

.sub-information__decoration {
	position: absolute;
	top: rem(-25);
	left: rem(15);
	width: rem(120);
	height: rem(55);
	z-index: -1;

	@include mq(md) {
		top: rem(-71);
		width: rem(301);
		height: rem(138);
		left: calc(50% - min(47.9166vw, 38.75rem));
	}
}

.sub-information__tab {
	display: flex;
	justify-content: center;
	gap: rem(19);

	@include mq(md) {
		justify-content: initial;
		gap: calc((90 / 1100) * 100%);
	}
}

.sub-information__items {
	margin-top: rem(14);

	@include mq(md) {
		margin-top: rem(24);
	}
}

.info-tab__text {
	width: rem(102);
	padding: rem(10) rem(16);
	color: $green;
	background-color: $green2;
	z-index: 99;
	font-size: rem(14);
	font-weight: $normal;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;

	@include mq(md) {
		text-align: initial;
		width: rem(300);
		padding: rem(13) rem(15);
		font-size: min(calc((24 / 1440) * 100vw), rem(24));
	}
}

.info-tab__text:hover {
	color: $white;
	background-color: $green;
	
}

.info-tab__text--md-show {
	display: block;

	@include mq(md) {
		display: none;
	}
}

.info-tab__text.is-active {
	color: $white;
	background-color: $green;
	box-shadow: rem(4) rem(4) rem(8) rem(0) rgba(0, 0, 0, 0.25);
}

.info-tab__text::before {
	content: "";
	display: inline-block;
	width: rem(64);
	height: rem(64);
	margin-right: rem(9);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.info-tab__text:nth-child(1)::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image1.jpg);
	}
}

.info-tab__text:nth-child(1):hover::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image4.jpg);
	}
}

.info-tab__text:nth-child(2)::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image2.jpg);
	}
}

.info-tab__text:nth-child(2):hover::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image5.jpg);
	}
}





.info-tab__text:nth-child(3)::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image3.jpg);
	}
}

.info-tab__text:nth-child(3):hover::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image6.jpg);
	}
}

.info-tab__text.is-active:nth-child(1)::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image4.jpg);
	}
}

.info-tab__text.is-active:nth-child(2)::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image5.jpg);
	}
}

.info-tab__text.is-active:nth-child(3)::before {
	display: none;

	@include mq(md) {
		display: block;
		background-image: url(../../assets/images/information/information-tab-image6.jpg);
	}
}


.info-content__item {
	display: none;
}

.info-content__item.is-active {
	display: block;
	animation: fade 0.5s ease;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.info-content__wrapper {
	display: flex;
	flex-direction: column-reverse;
	padding: rem(23);
	border: rem(1) solid $green;
	background: $white;

	@include mq(md) {
		flex-direction: row-reverse;
	}
}

.info-content__image {
	position: relative;
	width: 100%;
	margin-top: rem(8);

	@include mq(md) {
		margin-top: initial;
		margin-left: rem(48);
		width: calc((492 / 984) * 100%);
	}
}

.info-content__image::before {
	content: "";
	display: block;
	padding-top: calc((189 / 297) * 100%);

	@include mq(md) {
		padding-top: calc((313 / 492) * 100%);
	}
}

.info-content__image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info-content__meta {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include mq(md) {
		width: calc((492 / 984) * 100%);
	}
}

.info-content__title {
	font-size: rem(24);
	font-weight: $bold;
	line-height: calc(24 / 24);
	padding-bottom: rem(7);
	border-bottom: rem(1) solid $green;

	@include mq(md) {
		padding-bottom: rem(10);
		margin-bottom: rem(6);
	}


}

.info-content__text {
	margin-top: rem(8);
	font-weight: $normal;
	font-size: rem(16);
	font-family: $base-font-family;
	line-height: 1.5;
	letter-spacing: 0.016em;
	@include mq(md) {
		margin-top: rem(0);
	}
}