@use "global" as *;




.page-terms-of-service {

}

.page-terms-of-service__inner.inner {
    max-width: rem(345);

@include mq("md") {
    max-width: rem(800);
}
}

.page-terms-of-service__sentence {
  margin-top: rem(45);

  @include mq("md") {
    margin-top: rem(155);
}
}

.sentence__title {
font-size: rem(32);
font-weight: $regular;
font-family: $base-font-family;
}