@use "global" as *;

.boxes {
  display: grid;
  grid-template-columns: rem(333);
  gap: rem(40);
  justify-content: center;
  @include mq("md") {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(40);
    position: relative;
  }
}

.boxes--column {

  @include mq("md") {
    grid-template-columns:  1fr 1fr;
    gap: rem(81) rem(51);
  }
}

.boxes__item {
  padding: rem(16) rem(22) rem(21) rem(22);
  width: 100%;

  @include mq("md") {
    padding: rem(16) rem(16) rem(21) rem(16);
    width: 100%;
  }
}