@use "global" as *;

.boxes {
  display: grid;
  grid-template-columns: rem(333);
  gap: rem(40) rem(40);
  justify-content: center;

  @include mq("md") {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(40);
    position: relative;
  }
}

.boxes--column {
  gap: rem(10) rem(51);

  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    gap: rem(80) rem(40);
  }
}

.boxes__item {
  padding: rem(13) rem(16) rem(24) rem(14);
  width: 100%;

  @include mq("md") {
    padding: rem(16) rem(16) rem(25) rem(16);
    width: 100%;
  }
}