@use "global" as *;

.box {
  background-color: $white;
  box-shadow: 0 0 rem(8) gray;

  @include mq("md") {}
}

.box:hover {
  opacity: 0.7;
}

.box__img {
  width: 100%;
  padding-top: 66.571429%; //比率の計算式 横233/縦350*100%=画像の比率
  position: relative;

  @include mq("md") {
  }
}

.box__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  object-fit: cover;

  @include mq("md") {}
}

.box__body {
  margin-top: rem(24);
}

.box__day {
  font-size: rem(12);
  font-family: $second-font-family;
}

.box__title {
  padding-bottom: rem(4);
  font-size: rem(16);
  border-bottom: rem(1) solid $green;
  line-height: rem(18);
  margin-top: rem(6);

  @include mq("md") {
    margin-top: rem(4);
  }
}

.box__text {
  font-size: rem(16);
  line-height: rem(24);
  margin-top: rem(16);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}