@use "global" as *;


.button__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(12);
    grid-template-columns: repeat(auto-fill,minmax(rem(150),1fr));
    justify-items: center;
  align-items: center;
    @include mq("md") {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(rem(150),1fr));
        gap: rem(32);
        padding: rem(10);
    }
   
}

