@use "global" as *;

.button {
	position: relative;
	width: rem(207);
	padding-bottom: rem(10);
display: inline-block;

	overflow: hidden;
	cursor: pointer;
}

.button img {
	position: absolute;
	top: 44%;
	left: 70%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: rem(40);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;

	@include mq("md") {
		left: 70%;
		width: rem(40);
	}
}

.button:hover img:nth-of-type(2) {
	opacity: 0;
}




.button__bg {
  position: relative;
  background-color: $green;
  padding:  rem(10) rem(10) rem(10) rem(10);
  font-size: rem(14);
  text-decoration: none;
  transition: color .25s ease;
  max-width: 100%;
  width: rem(202);

  color: $white;
  
  border: rem(1) solid $green;
  z-index: 10;
  padding-top: rem(6);
  padding-bottom: rem(17);



  @include mq('md') {
    position: relative;
    display: inline;
    background-color: $green;
    padding: rem(0) rem(27) rem(0) rem(17);
    font-size: rem(14);
    text-decoration: none;
    color: $black;
    border: rem(1) solid $black;
    transition: color .25s ease;
    max-width: 100%;
    width: rem(202);
    height: rem(54);
    color: $white;
    display: flex;
    border: rem(1) solid $green;
    z-index: 10;
    padding-top: rem(6);
    padding-bottom: rem(6);

  }

  &:hover {
    color: $green;

    &::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    padding-bottom: rem(52);
    background: $white;
    transform: scaleX(0);
    transform-origin: right;
    transition: all .25s ease;
    transition-property: transform;
  }
}

.button__bg::after {
  content: '';
  border: rem(1) solid $green;
  position: absolute;
  top: rem(6);
  right: rem(-5);
  width: 100%;
  height: 100%;
  z-index: -1;

}


.button__text {
  position: relative;
  line-height: 2;
  font-weight: 400;
  margin-top: rem(3);
  top: rem(6);
  left: rem(-24);
  @include mq('md') {
    line-height: rem(35);
    font-size: rem(14);
    margin-left: rem(0);
    letter-spacing: 0;
    font-weight: 500;
    margin-left: rem(22);
    margin-top: rem(1);
    top: rem(0);
    left: rem(0);
  }
}


