@use "global" as *;

.cards2 {
  display: grid;
  grid-template-columns: 100%;
  gap: rem(20);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40) rem(40);

  }
}

.cards2__item {

  @include mq("md") {
    padding: rem(12) rem(20) rem(22) rem(20);
  }

}

.cards2.cards2--grid {
  @include mq("md") {

    gap: rem(81) rem(40);

  }
}