@use "global" as *;

.card {
    box-shadow: 0 0 rem(8) gray;
    display: flex;
    flex-flow: column;

    @include mq("md") {}
}


.card__img {
    max-width: rem(280);
    width: 100%;
    padding-top: 66.971429%; //比率の計算式 横233/縦350*100%=画像の比率
    position: relative;

    @include mq("md") {
        max-width: rem(333);
        width: 100%;

    }
}

.card__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq("md") {
        top: 50%;
    }
}

.card__body {
    padding: rem(16) rem(16) rem(6) rem(16);
    width: rem(280);

    @include mq("md") {
        width: rem(333);
        width: 100%;

        padding: rem(0) rem(16) rem(40) rem(16);
    }
}

.card__body.card__body--under {
    padding: rem(5) rem(0) rem(0) rem(0);
    width: rem(280);

    @include mq("md") {
        width: rem(333);
        bottom: rem(20);
        padding: rem(10) rem(16) rem(0) rem(0);
    }
}

.card__foot.card__foot--under {
    padding: rem(10) rem(6) rem(4) rem(8);
    display: inline-block;

    @include mq("md") {
        margin-top: auto;
        padding: rem(0) rem(0) rem(15) rem(0);
    }
}

.card__foot {
    padding: 0 rem(16) rem(6) rem(16);

    @include mq("md") {
        padding: 0 rem(16) rem(10) rem(0);
    }
}

.card__head {
    border-bottom: rem(1) solid $green;
    padding-bottom: rem(6);
    margin-left: rem(15);
    margin-top: rem(7);

    @include mq("md") {
        margin-top: rem(15);
    }
}

.card__head-title {
    font-family: $base-font-family;
    font-size: rem(12);
    color: $green;
    border: rem(1) solid $green;
    display: inline-block;

    padding: rem(6) rem(13) rem(4) rem(10);

    @include mq("md") {
        padding: rem(6) rem(20) rem(9) rem(10);
    }
}

.card__head-text {
    font-size: rem(16);
    color: $black2;
    font-weight: 500;
    margin-top: rem(6);

}

.card__foot {}

.card__foot-title {
    font-size: rem(14);
    text-align: center;
    margin-top: rem(0);

    @include mq("md") {
        font-size: rem(16);
        margin-top: rem(0);
        letter-spacing: 0.07em;
    }
}

.card__foot-price {
    display: flex;
    margin-left: rem(25);
    margin-right: rem(40);
    justify-content: space-between;

    @include mq("md") {
        max-width: rem(264);
        width: 100%;
        justify-content: space-between;
        padding-bottom: rem(0);
    }
}

.card__foot-regular {
    font-size: rem(20);
    text-decoration: line-through $red;
    line-height: rem(60);
    letter-spacing: 0em;

    @include mq("md") {
        font-size: rem(24);
        max-width: 100%;
        padding-bottom: rem(0);
        line-height: 3;
        letter-spacing: 0em;

    }
}

.card__foot-discount {
    font-size: rem(27);
    color: $green;
    letter-spacing: 0em;
    margin-left: rem(7);
    margin-top: rem(5);
    font-weight: bold;

    @include mq("md") {
        font-size: rem(30);
        margin-left: rem(0);
        line-height: 1.3;
        letter-spacing: 0em;
    }
}

.card__bg {
    margin-bottom: rem(50);
}