@use "global" as *;

.card3 {
    box-shadow: 0 0 rem(8) gray;
    display: flex;
    flex-flow: column;
    z-index: 99999;
    @include mq("md") {}
}


.card3__img {
    width: 100%;
    padding-top: 66.971429%; //比率の計算式 横233/縦350*100%=画像の比率
    position: relative;

    @include mq("md") {
        width: 100%;

    }
}

.card3__img--size {
    padding-top: 75.071429%;
}

.card3__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq("md") {
        top: 50%;
    }
}

.card3__body {
    margin: rem(16) rem(16) rem(5) rem(16);

    @include mq("md") {
        margin: rem(0) rem(16) rem(40) rem(16);
    }
}

.card3__body.card3__body--under {
    margin: rem(0) rem(0) rem(0) rem(0);
    bottom: rem(20);

    @include mq("md") {
        bottom: rem(20);
        margin: rem(0) rem(0) rem(0) rem(0);
    }
}

.card3__foot.card3__foot--under {
    padding: rem(10) rem(36) rem(4) rem(30);
    display: inline-block;
    margin-top: auto;

    @include mq("md") {
        margin-top: 0;
        margin: rem(0) rem(36) rem(17) rem(30);
    }
}
.card3__foot.card3__foot--campaign-under {
    margin: rem(6) rem(36) rem(7) rem(30);
    display: inline-block;
    margin-top: auto;

    @include mq("md") {
        margin-top: auto;
        padding: rem(23) rem(24) rem(5) rem(24);
    }
}

.card3__foot {
    padding: 0 rem(16) rem(6) rem(16);

    @include mq("md") {
        padding: 0 rem(16) rem(10) rem(0);
    }
}

.card3__head {


    margin-top: rem(16);
 

    @include mq("md") {
      
        margin-top: rem(24);
    }
}

 .card3__head--campaign-position {
    text-align: left;
    margin-left: rem(19);
    margin-top: rem(10);

    @include mq("md") {
        margin-left: rem(24);
        margin-top: rem(17);
    }
}

.card3__head.card3__head--width {
    margin-left: rem(0);
    margin-top: rem(16);
    margin-right: rem(0);
    @include mq("md") {
    
    }
}

.card3__head-title {
    font-family: $base-font-family;
    font-size: rem(12);
    color: $green;
    border: rem(1) solid $green;
    display: inline-block;

    margin: rem(6) rem(13) rem(4) rem(10);

    @include mq("md") {
        margin: rem(6) rem(20) rem(9) rem(10);
    }
}

.card3__head-time {
    font-size: rem(12);
    @include mq("md") {
        font-size: rem(12);
        line-height: 1.5;
    }
}

.card3__head-text {
    font-size: rem(16);
    color: $black2;
    font-weight: 500;
    margin-top: rem(6);
    margin-bottom: rem(5);
    border-bottom: rem(1) solid $green;

    @include mq("md") {
        font-size: rem(24);
        padding-bottom: rem(0);
    }

}

.card3__head-text.card3__head-text {
    font-size: rem(16);
    color: $black2;
    font-weight: 500;
    @include mq("md") {
        font-size: rem(16);
        line-height: 1.5;
        
    }
}


    

.card3__foot {}

.card3__foot-title {
    font-size: rem(14);
    text-align: center;
    margin-top: rem(0);

    @include mq("md") {
        font-size: rem(16);
        margin-top: rem(0);
        letter-spacing: 0.07em;
    }
}

.card3__foot-price {
    display: flex;
    justify-content: space-between;

    @include mq("md") {
        justify-content: center;
    }
}

.card3__foot-regular {
    font-size: rem(20);
    text-decoration: line-through $red;
    line-height: rem(60);
    letter-spacing: 0em;

    @include mq("md") {
        font-size: rem(24);
        margin-bottom: rem(0);
        line-height: 3;
        letter-spacing: 0em;

    }
}

.card3__foot-discount {
    font-size: rem(27);
    color: $green;
    letter-spacing: 0em;
    margin-top: rem(5);
    font-weight: bold;
    line-height: 1.5;
    @include mq("md") {
        font-size: rem(30);
        margin-left: rem(13);
        line-height: 1.9;
        letter-spacing: 0em;
    }
}

.card3__bg {
    margin-bottom: rem(50);
}

.card3__foot-text {
  
    @include mq("md") {
       
        font-family: $base-font-family;
        font-size: rem(16);
        line-height: 1.5;
        text-align: left;
       
     
    }
} 

.card3__foot-text.car3d__foot-text--width {

    @include mq("md") {
    padding: rem(16) rem(16) rem(24) rem(16);
    }
}

.card3__foot-text--width {


    @include mq("md") {
        padding: rem(0) rem(24) rem(0) rem(24);
        line-height: 1.5;
    }
    }


.card3__foot-day {
    display: none;
    @include mq("md") {
        display: inline;
        font-family: $base-font-family;
        font-size: rem(16);
        line-height: 1;
        margin-top: rem(32);
        font-weight: $bold;
        color: $green;
     
    }
}

.card3__foot-day--position {
   
    @include mq("md") {
        margin-top: rem(30);
    }
}

.card3__foot-inquiry {
    display: none;
    @include mq("md") {
        display: inline;
        font-family: $base-font-family;
        font-size: rem(14);
        line-height: 1;
        margin-top: rem(7);
        font-weight: $bold;
        color: $green;
        font-weight: $regular;
     
    }
}




.card3__image-box {
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


.card__box {
    padding: 1rem;
}



.card3:hover img {
    transform: scale(1.2);
}