@use "global" as *;

.cards2 {
  display: grid;
  grid-template-columns: 100%;
  gap: rem(20);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);

  }
}