@use "global" as *;

.card {
    box-shadow: 0 0 rem(8) gray;
    display: flex;
    flex-flow: column;
    @include mq("md") {}
}


.card__img {
    width: 100%;
    padding-top: 66.971429%; //比率の計算式 横233/縦350*100%=画像の比率
    position: relative;

    @include mq("md") {
        width: 100%;

    }
}

.card__img--size {
    padding-top: 75.071429%;
}

.card__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq("md") {
        top: 50%;
    }
}

.card__body {
    padding: rem(16) rem(16) rem(5) rem(16);

    @include mq("md") {
        padding: rem(0) rem(16) rem(40) rem(16);
    }
}

.card__body.card__body--under {
    padding: rem(0) rem(0) rem(0) rem(0);
    bottom: rem(20);

    @include mq("md") {
        bottom: rem(20);
        padding: rem(0) rem(0) rem(0) rem(0);
    }
}

.card__foot.card__foot--under {
    padding: rem(10) rem(36) rem(4) rem(30);
    display: inline-block;
    margin-top: auto;

    @include mq("md") {
        margin-top: auto;
        padding: rem(0) rem(36) rem(17) rem(30);
    }
}
.card__foot.card__foot--campaign-under {
    padding: rem(6) rem(36) rem(7) rem(30);
    display: inline-block;
    margin-top: auto;

    @include mq("md") {
        margin-top: auto;
        padding: rem(23) rem(24) rem(5) rem(24);
    }
}

.card__foot {
    padding: 0 rem(16) rem(6) rem(16);

    @include mq("md") {
        padding: 0 rem(16) rem(10) rem(0);
    }
}

.card__head {

    padding-bottom: rem(0);
    padding-left: rem(10);
    padding-top: rem(16);
    padding-right: rem(13);

    @include mq("md") {
        padding-left: rem(16);
        padding-top: rem(24);
    }
}

 .card__head--campaign-position {
    text-align: left;
    padding-left: rem(19);
    padding-top: rem(10);

    @include mq("md") {
        padding-left: rem(24);
        padding-top: rem(17);
    }
}

.card__head--campaign-position2 {
    text-align: center;
    padding-left: rem(19);
    padding-top: rem(10);

    @include mq("md") {
        padding-left: rem(24);
        padding-top: rem(17);
    }
}

.card__head.card__head--width {
    padding-left: rem(0);
        padding-top: rem(16);
        padding-right: rem(0);
    @include mq("md") {
    
    }
}



.card__head-title {
    font-family: $base-font-family;
    font-size: rem(12);
    color: $green;
    border: rem(1) solid $green;
    display: inline-block;

    padding: rem(6) rem(13) rem(4) rem(10);

    @include mq("md") {
        padding: rem(6) rem(20) rem(9) rem(10);
    }
}

.card__head-time {
    font-size: rem(12);
    @include mq("md") {
        font-size: rem(12);
        line-height: 1.5;
    }
}

.card__head-text {
    font-size: rem(16);
    color: $black2;
    font-weight: 500;
    padding-top: rem(6);
    padding-bottom: rem(5);
    border-bottom: rem(1) solid $green;

    @include mq("md") {
        font-size: rem(24);
        padding-bottom: rem(0);
    }

}

.card__head-text.card__head-text--size {
text-align: center;
    @include mq("md") {
        font-size: rem(16);
        padding-top: rem(0);
        padding-bottom: rem(8);
        
    }
}



.card__head-text.card__head-text {
    font-size: rem(16);
    color: $black2;
    font-weight: 500;
    @include mq("md") {
        font-size: rem(24);
        line-height: 1.5;
        
    }
}


    

.card__foot {}

.card__foot-title {
    font-size: rem(14);
    text-align: center;
    margin-top: rem(0);

    @include mq("md") {
        font-size: rem(16);
        margin-top: rem(0);
        letter-spacing: 0.07em;
    }
}

.card__foot-price {
    display: flex;
    justify-content: center;

    @include mq("md") {
        justify-content: center;
    }
}

.card__foot-regular {
    font-size: rem(20);
    text-decoration: line-through $red;
    line-height: 3;
    letter-spacing: 0em;
    margin-left: rem(16);

    @include mq("md") {
        font-size: rem(24);
        padding-bottom: rem(0);
        line-height: 3;
        letter-spacing: 0em;

    }
}
.card__foot-regular {

    @include mq("md") {
        line-height: 4;
    }
}

.card__foot-discount {
    font-size: rem(32);
    color: $green;
    letter-spacing: 0em;
    padding-top: rem(5);
    font-weight: bold;
    line-height: 1.5;
    @include mq("md") {
        font-size: rem(30);
        padding-left: rem(13);
        line-height: 1.9;
        letter-spacing: 0em;
    }
}
.card__foot-discount--size {
    margin-left: rem(16);

    @include mq("md") {
        font-size: rem(40); 
        margin-left: rem(40);
    }
}

.card__bg {
    margin-bottom: rem(50);
}

.card__foot-text {
    display: none;
    @include mq("md") {
        display: inline;
        font-family: $base-font-family;
        font-size: rem(16);
        line-height: 1;
        text-align: left;
       
     
    }
} 

.card__foot-text.card__foot-text--width {

    @include mq("md") {
    padding: rem(0) rem(16) rem(0) rem(16);
    }
}

.card__foot-text--width {


    @include mq("md") {
        padding: rem(0) rem(24) rem(0) rem(24);
        line-height: 1.5;
    }
    }


.card__foot-day {
    display: none;
    @include mq("md") {
        display: inline;
        font-family: $base-font-family;
        font-size: rem(16);
        line-height: 1;
        margin-top: rem(32);
        font-weight: $bold;
        color: $green;
     
    }
}

.card__foot-day--position {
   
    @include mq("md") {
        margin-top: rem(30);
    }
}

.card__foot-inquiry {
    display: none;
    @include mq("md") {
        display: inline;
        font-family: $base-font-family;
        font-size: rem(14);
        line-height: 1;
        margin-top: rem(7);
        font-weight: $bold;
        color: $green;
        font-weight: $regular;
     
    }
}


