@use "global" as *;

.fish {

}

.page-information::before {
    height: 10.125rem;
    right: 7.75rem;
    right: calc(50% - min(48.5vw, 33.6875rem));
    top: 33.6875rem;
    width: 4.4375rem;
  
}
.page-information::before {
    background-image: url(./assets/images/top/fish1.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 3.125rem;
    position: absolute;
}