@use "global" as *;

.form {
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;
    max-width: rem(700);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.form__item {
    border-bottom: rem(1) dotted $green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: rem(700);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: rem(0);
    padding-bottom: rem(21);
    flex-wrap: wrap;

    @include mq("md") {
        border-bottom: rem(1) dotted $green;
        padding-bottom: rem(40);
        padding-top: rem(41);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: rem(700);
        margin: 0 auto;
        flex-wrap: nowrap;
    }
}


.form__item:nth-child(n+2).form__item--width {
    padding-left: rem(15);
    padding-right: rem(15);

    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
    }
}

.form__item:nth-child(n+2) {
    border-bottom: rem(1) dotted $green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: rem(700);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: rem(20);
    padding-bottom: rem(21);
    flex-wrap: wrap;

    @include mq("md") {
        border-bottom: rem(1) dotted $green;
        padding-bottom: rem(40);
        padding-top: rem(40);
        width: 100%;
        display: grid;
        grid-template-columns: 200px 400px; /* 3列（幅: 100px, 200px, 100px） */
        max-width: rem(800);
        margin: 0 auto;
        flex-wrap: nowrap;
    }
}

.form__item:nth-child(n+3) {
    border-bottom: rem(1) dotted $green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: rem(700);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: rem(22);
    padding-bottom: rem(21);
    flex-wrap: wrap;

    @include mq("md") {
        border-bottom: rem(1) dotted $green;
        padding-bottom: rem(40);
        padding-top: rem(23);
        width: 100%;
        display: grid;
        grid-template-columns: 200px 400px; /* 3列（幅: 100px, 200px, 100px） */
        max-width: rem(800);
        margin: 0 auto;
        flex-wrap: nowrap;

    }
}

.form__item:nth-child(n+4) {
    border-bottom: rem(1) dotted $green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: rem(900);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: rem(22);
    padding-bottom: rem(21);
    flex-wrap: wrap;

    @include mq("md") {
        border-bottom: rem(1) dotted $green;
        padding-bottom: rem(45);
        padding-top: rem(20);
        width: 100%;
        display: grid;
        
        max-width: rem(800);
        margin: 0 auto;
        flex-wrap: nowrap;
        align-items: baseline;
    }
}


.form__item:nth-child(n+5) {
    padding-top: rem(0);
  
    @include mq("md") {
        max-width: rem(700);
        padding-top: rem(40);
        padding-bottom: rem(50);
        width: 100%;
   
   
       
    }
}

.form__item:nth-child(n+6) {
    padding-top: rem(15);

    @include mq("md") {
        max-width: rem(700);
        padding-top: rem(15);
        padding-bottom: rem(40);
        
    }
}

.form__item:nth-child(n+7) {
    padding-top: rem(15);

    @include mq("md") {
        max-width: rem(10000);
        padding-top: rem(30);
        padding-bottom: rem(40);
        
    }
}


.form__item-label {
    width: 100%;
    max-width: rem(248);
    letter-spacing: 0.05em;
    font-weight: $bold;
    display: flex;
    align-items: center;
    font-size: rem(16);
    position: relative;

    @include mq("md") {
        font-size: rem(16);
        max-width: rem(170);
        margin-left: rem(0);
        max-width: rem(210);


    }
}

.form__item-label.form__ismsg {
    margin-top: 0;
    margin-bottom: auto;

    @include mq("md") {
        margin-top: rem(8);
    }
}

.form__item-label-required {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: rem(3);
    width: rem(63);
    font-size: rem(12);
    display: inline-block;
    text-align: center;
    background: $red;
    color: $white;
    font-size: rem(12);
    margin-left: rem(5);
    font-weight: $normal;
    margin-top: rem(5);

    @include mq("md") {
        margin-left: rem(1);
        padding-top: rem(0);
        padding-bottom: rem(0);
        width: rem(61);
    }
}


.form__item-input {
    border: rem(1) solid $green;
    border-radius: 0;
    margin-left: 0;
    padding-left: rem(20);
    padding-right: 1em;
    height: rem(40);

    width: 100%;
    max-width: rem(410);
    background: $white;
    font-size: rem(12);
    font-weight: $normal;
    color: $black;
    flex: inherit;
    margin-top: rem(18);

    @include mq("md") {
        font-size: rem(16);
        height: rem(38);
        margin-left: rem(0);
        max-width: rem(480);
    }
}

.form__item-input2 {
    padding: 0.34375rem 0.5rem;
    border: rem(1) solid $green;
    border-radius: 0;

    padding-left: 1em;
    padding-right: 1em;
    height: rem(40);
    flex: 1;
    max-width: 100%;
    width: 100%;
    background: $white;
    font-size: rem(14);
    font-weight: $normal;
    color: $black;
    flex: inherit;
    margin-top: rem(18);

    @include mq("md") {
        font-size: rem(12);
        height: rem(30);

        max-width: rem(490);
    }
}

.form__item-textarea {
    border: rem(1) solid $green;
    border-radius: rem(0);
    padding-left: 1em;
    padding-right: 1em;
    flex: 1;
    width: 100%;
    max-width: rem(410);
    background: $white;
    margin-top: rem(18);
    height: rem(200);
    flex: inherit;
    font-size: rem(15);

    @include mq("md") {
        margin-left: 20px;
        font-size: rem(18);
        height: rem(200);
        max-width: rem(480);
        margin-top: rem(10);
        padding-left: rem(10);
    }
}

.form__check-item {
    margin-top: rem(18);

    @include mq("md") {
        margin-top: rem(24);
    }
}

.form__check-item-label {
    margin-top: rem(20);
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: rem(337);
    letter-spacing: 0.01em;

    @include mq("md") {
        margin-top: rem(0);
        width: 100%;
    }
}

.form__check-item-label-input {}

.form__check-item-label-square-icon {
    border: rem(1) solid $green;
    display: block;
    flex: none;
    height: rem(22);
    width: rem(22);
    margin-right: rem(12);


    @include mq("md") {
        width: rem(24);
        margin-top: rem(15);
        margin-left: rem(0);
    }
}

.form__check-item-label-text {
    font-size: 3.6vw;
    margin-top: rem(16);

    @include mq("md") {
        padding-left: 0;
        font-size: rem(14);

    }
}

.form__btn {
    border-radius: rem(6);
    margin-left: auto;
    margin-right: auto;
    display: block;
    letter-spacing: 0.05em;
    background: hsl(165, 50%, 57%);
    color: $black;
    font-weight: bold;
    opacity: 0.2;
    pointer-events: none;
    transition: all 0.2s;
    justify-content: center;
    margin-top: rem(24);
    padding-top: rem(8);
    padding-bottom: rem(8);
    width: rem(200);
    font-size: rem(16);
    justify-content: center;

    @include mq("md") {
        margin-top: rem(32);
        padding-top: rem(20);
        padding-bottom: rem(20);
        font-size: rem(20);
    }
}

.form__btn.button__text {}

.form__btn.is-active {
    opacity: 1;
    pointer-events: inherit;
}

.form__check-item-label-input:checked+*:before {
    content: "";
    display: block;
    width: rem(18);
    height: rem(2);
    background: $red;
    transform-origin: bottom left;
    transform: rotateZ(90deg);
}

.form__check-item-label-input:checked+*:after {
    content: "";
    display: block;
    width: rem(8);
    height: rem(2);
    background: $red;
    transform-origin: bottom left;
    transform: rotateZ(0deg);
}

.form__check-item-label-input:checked+* {
    width: 0;
    height: 0;
    transform: translate(rem(5), rem(7)) rotateZ(-135deg) scale(1.5);

    @include mq("md") {
        transform: translate(rem(12), rem(7)) rotateZ(-135deg) scale(1.5);
    }
}

::placeholder {
    color: $green2;
}

.form__item-img {
    position: relative;
    width: 100%;
    margin: 0 auto;

}

.form__item-img img {
    position: absolute;
    top: rem(-20);
    left: 90%;
    width: rem(10);
    /* 画像の幅 */
    height: auto;
    pointer-events: none;

    /* 画像がクリックされるのを防止 */
    @include mq("md") {
        top: rem(-20);
        left: 95%;
        width: rem(10);
        /* 画像の幅 */


    }
}

.select-wrapper {
    position: relative;
    display: inline-block;
max-width: 100%;
width: 400px;


    @include mq("md") {
        width: 100%;
    }
}

/* プルダウンメニューのスタイル */
.form__item-input2 {
    -webkit-appearance: none;
    /* Safari/Chrome用 */
    -moz-appearance: none;
    /* Firefox用 */
    appearance: none;
    padding-right: rem(30);
    /* 矢印画像の幅 + 余白分 */

    @include mq("md") {}
}

/* 矢印画像のスタイル */
.arrow-icon {
    position: absolute;
    top: 50%;
    right: rem(5);
    /* 矢印画像とプルダウンメニューの間隔 */
    transform: translateY(-50%);
    width: rem(15);
    /* 矢印画像の幅 */
    height: auto;
    /* 高さは自動 */

}

.arrow-icon-img {

    top: 50%;
    right: rem(5);
    /* 矢印画像とプルダウンメニューの間隔 */
    transform: translateY(30%);
    width: rem(10);
    /* 矢印画像の幅 */
    height: auto;
    /* 高さは自動 */

    @include mq("md") {
        top: 50%;
        right: rem(5);
        /* 矢印画像とプルダウンメニューの間隔 */
        transform: translateY(90%);
        width: rem(10);
        /* 矢印画像の幅 */
        height: auto;
        /* 高さは自動 */
    }
}


////////cntactform7
.wpcf7 {
    /* フォーム全体のスタイル */
    max-width: 700px; /* フォームの最大幅 */
    margin: 0 auto; /* 中央配置 */
  }



  .wpcf7 textarea,
  .wpcf7 select {
    width: 100%; /* フル幅 */
    padding: 0px; /* 内側余白 */
    border: rem(1) solid $green;
    border-radius: 0px; /* 角丸 */
    font-size: 16px;
  }
  .wpcf7 input {
    width: 100%; /* フル幅 */
    padding: 0px; /* 内側余白 */
    border: rem(1) solid $green;
    border-radius: 0px; /* 角丸 */
    font-size: 16px;
    margin-left: rem(20);

  }

  .wpcf7-list-item {
    display: flex;
   
}

.wpcf7 input {
    border: 1px solid $green; 
    border-radius: 0px; 
    font-size: 16px; 
    margin-left: rem(0); 
    padding: 0px;
    width: 100%;
    @include mq("md") {
        border: 1px solid $green; 
        border-radius: 0px; 
        font-size: 16px; 
        margin-left: 1.25rem; 
        padding: 0px;
        width: 100%;
    }
}

.wpcf7-list-item {

    display: grid;
  
  justify-content: left;
  margin-left: 0;
}

span.wpcf7-list-item {

    display: grid;
    grid-template-columns: 40px 200px 0px;
  justify-content: left;
  margin-left: 0;

  @include mq("md") {
     display: grid;
    grid-template-columns: 40px 400px 0px;
  justify-content: center;
  margin-left: 0;
  }
}

.your-checkbox {
    display: flex;
justify-content: left;
}

.wpcf7-checkbox input[type="checkbox"] {
  width: 16px; /* サイズ */
  height: 16px;
  cursor: pointer; /* クリック可能に */
  accent-color: #0073e6; /* チェックマークの色（モダンブラウザ対応） */
}

.wpcf7-checkbox input[type="checkbox"] {
    accent-color: white; /* レ点と背景の色を赤に */
  }

  .wpcf7-checkbox input[type="checkbox"] {
    appearance: none; /* デフォルトデザインを削除 */
    width: 15px;
    height: 15px;
    border: 1px solid $green; /* 枠線の色（後述） */
  
    background-color: white; /* 未選択時の背景色 */
    cursor: pointer;
    position: relative;
  }
  
  .wpcf7-checkbox input[type="checkbox"]:checked {
    background-color: $white; /* クリック時（チェック時）の背景色 */
  }
  .wpcf7-checkbox input[type="checkbox"] {
    appearance: none; /* デフォルトのチェックボックスを削除 */
    width: 15px;
    height: 15px;
    border: 2px solid #0073e6; /* 枠線の色 */
    border-radius: 0px;
    background-color: white;
    cursor: pointer;
    position: relative;
    border: 1px solid $green;
  }
  
  .wpcf7-checkbox input[type="checkbox"]:checked::after {
    content: "✔"; /* チェックマーク */
    font-size: 16px;
    color: red; /* レ点（✔）の色を赤に */
    position: absolute;
    left: 2px;
    top: -2px;
  }


  .wpcf7-list-item-label {
    width: 100%;

    @include mq("md") {
        width: 100%;
    }
  }

  .wpcf7 select {
  

    @include mq("md") {
        border: 1px solid $green;

    font-size: 16px;
    padding: 0px;
    width: 100%;
    margin-left: 16px;
    }
}


.wpcf7-form-control-wrap {
    width: 90%;
}