@use "global" as *;


.gallery__block {
    margin-top: rem(40);
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: (1, 1fr);
    gap: rem(0) rem(8);
  
    @include mq(md) {
      grid-template-columns: repeat(11, 1fr);
      margin-top: rem(74);
      gap: rem(8) rem(8);
    }
  }
  
  .gallery__image {
    position: relative;
  }
  
  .gallery__image:nth-child(6n + 1) {
    grid-row: span 1;
    grid-column: span 1;
    @include mq(md) {
      grid-row: span 2;
      grid-column: span 5;
    }
  }
  .gallery__image:nth-child(6n + 2),
  .gallery__image:nth-child(6n + 3) {
    grid-row: span 1;
    grid-column: span 1;
    @include mq(md) {
      grid-column: span 6;
    }
  }
  .gallery__image:nth-child(6n + 4) {
    grid-row: span 1;
    grid-column: span 1;
  
    @include mq(md) {
      grid-column: span 6;
    }
  }
  .gallery__image:nth-child(6n + 5) {
    grid-row: span 1;
    grid-column: span 1;
    @include mq(md) {
      grid-row: span 1;
      grid-column: span 6;
    }
  }
  .gallery__image:nth-child(6n + 6) {
    grid-row: span 1;
    grid-column: span 1;
    @include mq(md) {
      grid-row: span 2;
      grid-column: span 5;
    }
  }
  
  .gallery__image:nth-child(6n + 2)::before,
  .gallery__image:nth-child(6n + 3)::before,
  .gallery__image:nth-child(6n + 4)::before,
  .gallery__image:nth-child(6n + 5)::before {
    content: "";
    display: block;
    padding-top: calc((369 / 580) * 100%);
  }
  
  .gallery__image:nth-child(6n + 1)::before,
  .gallery__image:nth-child(6n + 6)::before {
    content: "";
    display: block;
    padding-top: calc((746 / 492) * 100%);
  }
  
  
  .gallery__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  