@use "global" as *;

.l-contact {
    margin-top: rem(95);
    position: relative;

    @include mq("md") {
        margin-top: rem(136);
        position: relative;
    }
}

.l-contact--low-page-position {
    margin-top: rem(98);
    position: relative;

    @include mq("md") {
        margin-top: rem(131);
        position: relative;
    }
}

.l-contact--low-page-position2 {
    margin-top: rem(106);

    @include mq("md") {
        margin-top: rem(138);
    }
}

.l-contact.l-contact--low-page-position3 {
    margin-top: rem(107);

    @include mq("md") {
        margin-top: rem(130);
    }
}

.l-contact--low-page-position4 {
    margin-top: rem(126);

    @include mq("md") {
        margin-top: rem(132);
    }
}

.l-contact--low-page-position5 {
    margin-top: rem(106);

    @include mq("md") {
        margin-top: rem(132);
    }
}

.l-contact--low-page-position6 {
    margin-top: rem(100);

    @include mq("md") {
        margin-top: rem(133);
    }
}

.l-contact--low-page-position7 {
    margin-top: rem(108);

    @include mq("md") {
        margin-top: rem(128);
    }
}

.l-contact--low-page-position8 {
    margin-top: rem(107);

    @include mq("md") {
        margin-top: rem(140);
    }
}

.l-contact--low-page-position9 {
    margin-top: rem(90);

    @include mq("md") {
        margin-top: rem(123);
    }
}

.l-contact--low-page-position10 {
    margin-top: rem(97);

    @include mq("md") {
        margin-top: rem(127);
    }
}


.l-contact--low-page-position11 {
    margin-top: rem(110);

    @include mq("md") {
        margin-top: rem(140);
    }
}