@use "global" as *;

.l-footer {
   
    padding-top: rem(47);
    margin-top: rem(90);
    padding-bottom: rem(52);
    @include mq("md") {
        
        padding-bottom: rem(115);
        padding-top: rem(80);
        margin-top: rem(155);

    }


}
