@use "global" as *;

.l-price {
    padding-bottom: rem(85);
    margin-top: rem(86);
    padding-top: rem(80);

    @include mq("md") {
        padding-bottom: rem(100);
        padding-top: rem(100);
        margin-top: rem(146);
    }
}