@use "global" as *;

.l-price {
    padding-bottom: rem(70);
    margin-top: rem(68);
    padding-top: rem(80);

    @include mq("md") {
        padding-bottom: rem(90);
        padding-top: rem(100);
        margin-top: rem(130);
    }
}