@use "global" as *;

.modal {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(75);
    }
}



.modal__inner {}

/* モーダルを開くボタン */
.modal__images {}


.modal__images .modal__image {
    position: relative;
    width: 100%;
    transition: opacity .6s;
}

.modal__images .modal__image:hover {
    opacity: .6;
}

.modal__images .modal__trigger {
    cursor: pointer;
}

.modal__image-top-right {
    @include mq("md") {
        margin-left: rem(8);
    }
}

.modal__image-top-bottom {

    @include mq("md") {
        display: flex;
    }
}

.modal__image-top-bottom-left {

    @include mq("md") {
        margin-right: rem(8);
    }
}

.modal__image-long {

    @include mq("md") {
        margin-top: rem(8);
    }
}

.modal__image-long img {


    @include mq("md") {}
}

.modal__image-shout {
    margin-top: rem(8);

    @include mq("md") {}
}




.modal__image-shout {


    @include mq("md") {}
}

.modal__image-shout img {


    @include mq("md") {}
}

/* モーダル本体 */
.modal__wrapper {
    display: none;
    position: fixed;
    top: rem(50);
    left: 0;
    z-index: 10;
    z-index: 20;
    width: 100%;
    height: 100%;
}

.modal__layer {
    height: 100%;
    background: rgba(50, 50, 50, .85);
    cursor: pointer;
}

.modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    width: min(calc(100% - 40px), 1000px);
    max-height: calc(100% - 40px);
}

/* モーダルを閉じるボタン */
.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    background: rgba(50, 50, 50, 1);
    cursor: pointer;
    transition: opacity .6s;
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__close:before,
.modal__close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    background: #fff;
    content: '';
}

.modal__close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__content .modal__image img {
    width: 100%;
    
}


.layer {
    display: none;
}


.modal__image-top {

    @include mq("md") {
        display: flex;
    }
}

.modal__image-top-right {

    @include mq("md") {}
}