@use "global" as *;


.pagination {
    align-items: center;
    display: flex;
    gap: 0 0;
    justify-content: center;
    list-style-type: none;
    padding: 0;
margin-top: rem(60);
    @include mq("md") {
        gap: 0 rem(1);
        margin-top: rem(80);
    }
}

.pagination__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    padding: rem(0);
    list-style: none;
    text-align: center;

    @include mq("md") {
        padding: rem(0);
        margin-top: rem(0);
    }
}

//追加
.pagination__item {}

.pagination__list-item {

    width: 100%;

    @include mq("md") {
        padding-bottom: rem(50);
    }
}

.pagination__list-item.pagination__list-item--position {
    padding: rem(10);
    padding-bottom: rem(24);
}

.pagination__list-item:nth-child(n+2) {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(0);
    }
}

.pagination__list-item:nth-child(n+3) {
   

    @include mq("md") {
      
    }
}

.pagination li {
    margin: 5px;
    border: rem(1) solid $green; //ページの枠

}

.pagination a {
    display: block;
    text-decoration: none;
    color: $green; //ページの文字色
    padding: rem(7) rem(14); //ページの文字色内側幅
    transition: .3s;

}

.pagination a:hover {
    background-color: $green; //ページのクリック時の背景色
    color: $white; //ページのクリック時の文字色
}

.active a {
    background-color: $green; //ページの現在のページの背景色
    color: $white; //ページのクリック時の文字色

}

.page-item.prev.disabled {
    //戻るリンク
    margin-right: rem(40);
}

.page-item.next {
  //進むリンク
  margin-left: rem(40);
}