@use "global" as *;

.section__header {
  text-align: center;

  @include mq("md") {}

}

.section-header.section-header--color-white {
  font-size: rem(32);
  font-weight: 400;
  line-height: rem(40);
  text-align: center;
  color: $black2;

  @include mq("md") {
    position: relative;
    font-size: rem(40);
    color: $white;
  }
}

.section-header__english {
  font-size: rem(32);
  font-weight: 400;
  line-height: rem(40);
  text-align: center;
  color: $black2;
  font-family: $second-font-family;

  @include mq("md") {
    font-size: rem(40);

  }
}

.section-header__english::first-letter {
  color: $green;

}

.section-header__japanese {
  text-align: center;
  color: $green;
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(18);
  margin-top: rem(5.3);

  @include mq("md") {
    margin-top: rem(11);
  }
}

.section-header__english.section-header--color-white {
  font-family: $second-font-family;

  @include mq("md") {
    color: $white;
  }
}

.section-header--color-white::first-letter {
  @include mq("md") {
    color: $white;
  }
}

.section-header__japanese.section-header--color-white {

  @include mq("md") {
    color: $white;
  }
}