@use "global" as *;

.sentence {
    @include mq("md") {
        margin-top: rem(140);
    }
}

.sentence__title {
    font-size: rem(24);
    margin-top: rem(47);

    @include mq("md") {
        font-size: rem(32);
    }
}

.sentence__ol {

    @include mq("md") {
        margin-top: rem(40);
    }
}

.sentence__list {
    list-style-type: decimal;
    line-height: 2;
    margin-top: rem(30);

    @include mq("md") {
        margin-top: rem(0);
    }
}

.sentence__list-circle {
    list-style-type: disc;
    margin-top: rem(30);

}

.sentence__sub-title1 {
    margin-top: rem(40);
    line-height: 2;

    @include mq("md") {}

    margin-top: rem(40);
    letter-spacing: -0.05em;
}

.sentence__sub-title2 {
    margin-top: rem(29);
    line-height: 2;
}