@use "global" as *;

.swiper-area {
    margin-right: calc(50% - 50vw);
    display: flex;
    margin-top: rem(30);

    @include mq("md") {
        margin-top: rem(40);
        display: flex;
    }
}

.swiper {
    @include mq("md") {}
}

.swiper-wrapper {
    margin-left: rem(6);
    margin-top: rem(0);
    margin-bottom: rem(0);
    bottom: rem(3);

    @include mq("md") {
        margin-top: rem(16);
        margin-bottom: rem(0);
        margin-right: 0;
        bottom: rem(20);
    }
}

.sample-slider {
    width: 100%;
    margin-right: calc(50% - 50vw);
}

.sample-slider img {
    width: 100%;
}

.swiper-slide {}

/*デフォルトの矢印を消す*/
.sample-slider [class^="swiper-button-"]::after {
    content: "";

}

/*矢印のサイズ調整*/
.sample-slider [class^="swiper-button-"] {
    width: rem(80);
}

/*矢印の位置調整*/
.sample-slider .swiper-button-next {
    z-index: 10000;
}

.sample-slider .swiper-button-prev {}

.swiper-button-prev,
.swiper-button-next {
    display: none;

    @include mq("md") {
        display: flex;
        width: rem(80);
        position: absolute;
        top: 14%;
        height: 14.5%;

    }

}

.swiper-button-prev {

    @include mq("md") {
        position: absolute;
        left: 77%;
        right: auto;
        top: 3%;
    }
}

.swiper-button-next {
    @include mq("md") {
        position: absolute;
        top: 3%;
        left: 91%;
        right: auto;
    }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    z-index: 100000;

}

/* 前への矢印カスタマイズ */
.swiper-button-prev {
    background-image: url(/assets/images/common/left-arrow-image.jpg);
    width: rem(29);

}

/* 次への矢印カスタマイズ */
.swiper-button-next {
    background-image: url(/assets/images/common/right-arrow-image.jpg);
}

/* 画像サイズ調整 */
.swiper-slide img {
    height: auto;
    width: 100%;
}