@use "global" as *;
//（ページネーション全体）
.wp-pagenavi {
  display: flex;
  justify-content: center; /* ページネーションを中央寄せ */
  gap: rem(5); /* 各ボタン間の間隔 */
  margin-top: rem(62);
  color: $green;
  padding: rem(9) rem(14);
  @include mq("md") {
      flex-wrap: wrap;
      gap: rem(3);
  }
}

//（ページ番号のボタン）
.wp-pagenavi a {
  padding: rem(9) rem(14) !important;
  text-decoration: none;
  border: rem(1) solid $green !important;
  background-color: $white;
  border: rem(1) solid $green !important;
  color: $green !important;
  border-radius: 0;
  transition: all 0.3s ease;
  font-size: rem(16);
  margin: 0 rem(6) !important;
}

.wp-pagenavi a:hover {
  background-color: $green;
  color: $white !important;
  border-color: $green;
}

//（現在のページ）
.wp-pagenavi .current {
  background-color: $green;
  color: $white;
  border: rem(1) solid $green !important;
  font-weight: bold;
  padding: rem(9) rem(14) !important;
  font-size: rem(16);
  color: $white;
  text-decoration: none;
  border: rem(1) solid $green !important;
  background-color: $green;
  border: rem(1) solid $green !important;
  border-radius: 0;
  font-size: rem(16);
  margin: 0 rem(6) !important;

 
}

//（前後のページリンク）
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  font-weight: bold;
  background-color: $white;
  border: rem(1) solid $green;
  padding: rem(11) rem(15);
  color: $green;
  margin: 0 rem(24) !important;
}

.wp-pagenavi .previouspostslink:hover,
.wp-pagenavi .nextpostslink:hover {
  background-color: $green;
  color: $white;
  padding: rem(9) rem(14);
}

//（「…（省略記号）」）
.wp-pagenavi .extend {
  color: #999;
  font-weight: bold;
  padding: rem(9) rem(14);
}

//（最初と最後のページ）
.wp-pagenavi .first,
.wp-pagenavi .last {
  background-color: $white;
  padding: rem(9) rem(14);
  border: rem(1) solid $green;
}

.wp-pagenavi .first:hover,
.wp-pagenavi .last:hover {
  background-color: $green;
  color: $green;
  padding: rem(9) rem(14);
}

.wp-pagenavi a {
  padding: rem(9) rem(14);
}

.wp-pagenavi a, .wp-pagenavi span {
  font-size: rem(16);
  color: #666;
  padding: rem(9) rem(14);
}

.wp-pagenavi a {
  display: inline-block;
  padding: rem(30) rem(12);
  text-decoration: none;
  border: rem(1) solid $green;
  background-color: $white;
  color: $black;
  border-radius: 0;
  font-size: rem(16);
  transition: all 0.3s ease;
}


.home-pagination {

  @include mq("md") {

  }
}

.campaign-pagination{
margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(80);  
  }
}

.single-pagination {

  @include mq("md") {
    
  }
}



